@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

html, body {
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.logo-img {
	margin-top: 75px;
}
.footer {
	margin-top: 20px;
	font-size: small;
}